.card__figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin: 25px 20px 25px 21px;
  /* убрать отступы между inline элементами внутри */
  font-size: 0;
}